$address-background-color: #EAEAEA;

@import "variables";

/* Colours for each section */

$primary-background-color:#EAEAEA;/* Address background-Colour*/
$secondary-background-color: #F6F6F6;  /* Discover AND Restraurants background-Colours*/
$tertiary-background-color: linear-gradient(180deg, #ff88de 0%, #a16be0 100%); /* Button background-Colour*/
$quaternary-background-color: White;  /* Steps background colour*/

/*shadow Colours*/
$shadow-header-color: 0px 2px 4px rgba(0, 0, 0, 0.15;