/*Default should be Mobile */
/* Adjust Media query desktops later ---- MUST BE DONE ACCURATELY! */
body {
	font-family: $font-family_1;
	text-decoration: none;
}
a {
	text-decoration: none;
	color: $color_1;
}
$color_1: #FFF;
$font-family_1: 'Shrikhand', sans-serif;
$font-family_2: "Roboto", sans-serif;
$background-color_1: #F6F6F6;
$background-color_2: #f6f6f6;
$background-color_3: #FFFFFF;
$background-color_4: #99E2D0;

/*ADD heart icon fade in colour - same as home page*/
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
/****************************Button****/
.logo {
	display: flex;
	align-items: center;
	width: 197px;
	height: 36px;
	padding-top: 14px;
	padding-left: 89px;
}
.prev {
	margin-right: 75px;
	margin-left: -80px;
}
.image {
	position: relative;
	width: 90%;
	height: 275px;
	margin-bottom: -33px;
	align-items: center;
}
.menu-container {
	background-color: $background-color_1;
	border-radius: 45px;
	height: 1307px;
	margin-top: -4rem;
	background-color: $background-color_2;
	z-index: 1;
	position: relative;
	padding-top: 5px;
}
.header {
	font-size: 19px;
	font-weight: 400;
	line-height: 40.82px;
	font-style: italic;
	font-family: $font-family_1;
	margin-top: 0px;
	justify-content: space-between;
	margin-inline-start: 12px;
	>h1 {
		padding-top: 22px;
	}
}
p {
	font-family: $font-family_2;
	font-weight: 300;
	font-size: 16px;
	line-height: 18.75px;
	margin-top: -12px;
}
.heart-icon {
	display: flex;
	position: relative;
	width: 22px;
	height: 21px;
	top: -70px;
	left: 325px;
}
.under-line {
	border-bottom: 4px solid #99e2d0;
	width: 40px;
	top: 27px;
	border-radius: 3px;
	margin-bottom: 17px;
}
.card {
	&:hover {
		.tick {
			animation: fadeIn 1s ease-in-out;
			opacity: 1;
			animation: fadeIn 1s ease-in-out;
			opacity: 1;
		}
		.icon {
			animation: fadeIn 1s ease-in-out;
			opacity: 1;
			animation: fadeIn 1s ease-in-out;
			opacity: 1;
		}
	}
	background-color: $background-color_3;
	width: 333px;
	height: 72px;
	padding-left: 15px;
	padding-bottom: 5px;
	gap: 5px;
	box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	align-items: center;
	overflow: hidden;
	position: relative;
	margin-bottom: 10px;
	margin-top: 10px;
}
.price {
	&:hover {
		+ {
			.tick {
				animation: fadeIn 1s ease-in-out;
				opacity: 1;
			}
			.icon {
				animation: fadeIn 1s ease-in-out;
				opacity: 1;
			}
		}
	}
	display: flex;
	font-weight: 400;
	padding-bottom: 5px;
	justify-content: flex-end;
	align-items: flex-end;
	margin-top: -40px;
	width: 95%;
}
.card-content {
	width: 100%;
	transition: width 250ms ease-in-out;
}
.dish {
	display: flex;
	flex-direction: row;
	transition: width 250ms ease-in-out;
	width: auto;
}
.dish-info {
	overflow: hidden;
	text-overflow: ellipsis;
	text-decoration: nowrap;
	white-space: nowrap;
}
.tick {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $background-color_4;
	height: 72px;
	width: 59px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	opacity: 0;
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 15px;
}
.icon {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $background-color_3;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	opacity: 0;
	position: absolute;
}
.main {
	>p {
		margin-top: 40px;
		gap: 12px;
		display: flex;
	}
}
.Button {
	display: flex;
	position: relative;
	justify-content: center;
	flex-direction: row;
	padding: 18px 0px;
	margin-top: 30px;
	margin-bottom: 30px;
	border-radius: 50px;
	color: $color_1;
	background: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%);
	box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2);
	width: 186px;
	text-align: center;
	margin-inline-start: 60px;
	&:hover {
		box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
	}
	&:after {
		content: "";
		position: absolute;
		background: linear-gradient(180deg, #ff88de 0%, #a16be0 100%);
		opacity: 0;
	}
}